body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	/*background-color: #ffffff;*/
	background-color: #171717;
	/*background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(70,114,145,.3) 35px, rgba(70,114,145,.3) 70px);*/
	min-width: 400px;
	overflow: hidden;
}

#gradient {
	/*background: -moz-linear-gradient(top, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 200%); /* FF3.6-15 */*/
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 200%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: linear-gradient(to bottom, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 200%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */*/
	height: 100%;
	width: 100%;
}

#content {
	margin-top: 15px;
	position: relative;
	max-width: 1200px;
	width: 100%;
}

#copyright {
	font-size: 11px;
	position: inline;
	width: 100%;
	margin: 5px 0 0 0;
	text-align: center;
	color: ##2e2e2e;
}

#footer {
    font-family: 'Ubuntu', sans-serif;
	padding: 0 0 5px 0;
	font-size: 12px;
	position: inherit;
	/*background-color: #eaeaea;*/
	width: 80%;
	bottom: 0px;
	text-align: center;
	color: grey;
	/*height: 80px;*/
	color: #2e2e2e;
}

#footer a {
	text-decoration: none;
	color: #2e2e2e;
}

#footer a:hover {
	text-decoration: none;
	color: #ffffff;
}

#footer a:visited {
	color: #2e2e2e;
}

#top {
	width: 100%;
	/*height: 300px;*/
	/*background-color: #ffffff;*/
}

#logo {
	position: relative;
	/*top: 91px;*/
	margin-bottom: 0px;
	width: 371px;
	height: 207px;
/* 	background-image: url(lytn-it-logo@2x.png); */
	background-repeat: no-repeat;
	background-position: center bottom;
}

#logo h1 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 150px;
    font-weight: 600;
    color: #8e8e8e;
    bottom: 15px;
}

#logo h2 {
    position: absolute;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    bottom: 170px;
    right: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    /*font-weight: light;*/
    margin: 0;
    font-size: 25px;
    color: #e2e2e2;
}

#midline {
	height: 1px;
	width: 100%;
	overflow: hidden;
	/*background-color: black;*/
}

#main {
	color: #6e6e6e;
	padding: 0 0 0 0;
	width: 100%;
	min-height: 550px;
	height: 100%;
	/*background-color: #eaeaea;*/
	margin-bottom: -80px;
}

#main a {
	color: #a5a5a5;
	text-decoration: none;
}

#main a:hover {
	color: #5a8eb2;
}

#textbox {
	position: relative;
	width: 90%;
	height: 70px;
/* 	background-image: url("textbox.png"); */
    background-color: #1b1b1b;
    border: thin solid #5d5d5d;
    border-radius: 4px;
/* 	margin: 5px 10px 0 10px; */
    margin-top: 10px;
	/*font-family: 'Ubuntu Mono', monospace;*/
	font-weight: 100;
}

.textbox {
	text-align: left;
	font-size: 25px;
	overflow: auto;
	outline: none;
	color: #6e6e6e;
	/*height: 70px;*/
	background-color: transparent;
	padding: 0 10px 0 10px;
	border: none;
}

/*
#buttonover {
	position: relative;
	width: 113px;
	height: 42px;
	background-image: url("buttonover.png");
	margin: 15px;
}
*/

.vertical-center {
  margin: 0;
  position: absolute;
  top: 37%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submitButton {
    background-color: #467291;
	border-radius: 4px;
    border: thin solid #5d5d5d;
    color: white;
    padding: 0 5px 0 15px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    margin: 30px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    letter-spacing: 2pt;
	width: 210px;
	height: 65px;
	background-color: #484848;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.submitButton:hover {
    background-color: white;
    color: #467291;
}

/*
#button:hover {
	position: relative;
	width: 113px;
	height: 42px;
	background-image: url("buttonover.png");
}
*/

#result {
	display: none;
}

#result a 
{
	font-size: 28pt;
	font-family: 'Dosis';
	font-weight: 600;
}

#nav {
	position: inline;
	width: 371px;
	height: 37px;
	color: #c0c0c0
	
}

#homeover {
	width: 48px;
	height: 37px;
	background-image: url("homeover.png");
	float: left;
	margin: 0 10px 0 0;
}

#home {
	width: 48px;
	height: 37px;
/* 	background-image: url("home.png"); */
}

#home:hover {
	width: 48px;
	height: 37px;
/* 	background-image: url("homeover.png"); */
}

#homeactive {
	width: 48px;
	height: 37px;
	background-image: url("homeactive.png");
	float: left;
	margin: 0 39px 0 25px;
}

#trackover {
	width: 44px;
	height: 37px;
/* 	background-image: url("trackover.png"); */
	float: left;
	margin: 0 39px 0 0;
	cursor:not-allowed;
}

#track {
	width: 44px;
	height: 37px;
/* 	background-image: url("track.png"); */
}

#track:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
/* 	background-image: url("trackover.png"); */
}

#trackactive {
	width: 44px;
	height: 37px;
/* 	background-image: url("trackactive.png"); */
	float: left;
}

#aboutover {
	width: 49px;
	height: 37px;
/* 	background-image: url("aboutover.png"); */
	float: left;
	margin: 0 39px 0 0;
	cursor:not-allowed;
}

#about {
	width: 49px;
	height: 37px;
/* 	background-image: url("about.png"); */
}

#about:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
/* 	background-image: url("aboutover.png"); */
}

#aboutactive {
	width: 49px;
	height: 37px;
/* 	background-image: url("aboutactive.png"); */
	float: left;
}

#contactover {
	width: 63px;
	height: 37px;
/* 	background-image: url("contactover.png"); */
	float: left;
	cursor:not-allowed;
}

#contact {
	width: 63px;
	height: 37px;
/* 	background-image: url("contact.png"); */
}

#contact:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
/* 	background-image: url("contactover.png"); */
}

#contacactive {
	width: 63px;
	height: 37px;
/* 	background-image: url("contactactive.png"); */
	float: left;
}





@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}





@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
  
  #logo {
      top: 20px;
  }

  .vertical-center {
  	top: 34%;
  }

  #top {
      height: 229px;
  }
}